.MyCloud{
    border: 8px solid #f6f6f6;
    background-color: #f6f6f6;
}

.heading{

    font-size: 3rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

.cloud-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5rem;
    margin-left: 3rem;
   
}
