/* ProgressBar.css */
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 30px;
    background-color: #4caf50 !important;
    width: 0%;
    transition: width 1s ease;
}
